body {
  margin: auto;
  padding: 20px;
}

.searchIcon {
  font-family: Helvetica, "FontAwesome", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  padding: 2px 5px;
}
.temp-body {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}
.temperature {
  margin-bottom: 25px;
}

.weatherElements p {
  /* border: 1px solid red; */
  margin: 0px;
}

.heading {
  background: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  color: white;
  /* opacity: 0.7; */
}
.search-btn {
  font-size: 16px;
  background-color: white;
  padding: 0 5px 3px 5px;
  color: #5753c9;
  border: 1px solid #3d4e81;
  border-radius: 4px;
  transition: all 100ms ease-in-out;
  box-shadow: 2px 1px 2px white;
}
.search-btn:hover {
  font-size: 18px;
  background-color: #5753c9;
  color: white;
  border: 1px solid #3d4e81;
  border-radius: 4px;
}
.current-btn {
  font-size: 16px;
  background-color: #5753c9;
  padding: 0 5px 3px 5px;
  color: white;
  border: 1px solid #3d4e81;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  box-shadow: 2px 1px 2px #000;
}
.current-btn:hover {
  font-size: 18px;
  background-color: white;
  color: #5753c9;
  border: 1px solid #3d4e81;
  border-radius: 4px;
}
.degree,
#celcius,
#fareinheit {
  text-decoration: none;
}

.active {
  color: #666;
}
